[access]
	inheritFrom = All-Projects
[project]
	description = Management repo for Jenkins Job Builder, builder scripts and management related to the CI configuration.
[access "refs/*"]
	owner = group ldap/lf-releng
	viewDrafts = group Anonymous Users
	read = group GitHub Replication
[access "refs/heads/*"]
	submit = deny group Release Engineering Team
	label-Code-Review = deny -2..+2 group Release Engineering Team
