---
- project:
    name: dcaegen2-platform-configbinding
    # git repo
    project: dcaegen2/platform/configbinding
    # jenkins job prefix
    project-name: dcaegen2-platform-configbinding
    # push credentials
    mvn-settings: dcaegen2-platform-configbinding-settings
    # due to a strange macro / variable translation problem this needs
    # to be passed as a string block to properly get the properties
    # correctly defined in the job
    maven-deploy-properties: |
      deployAtEnd=true
    files: '**'
    archive-artifacts: ''
    build-node: ubuntu1804-docker-8c-8g
    # used by tox-install.sh to specify the interpreter used to install tox
    python-version: python3
    jobs:
      # clm and tox
      - '{project-name}-python-jobs'
      # build docker image
      - '{project-name}-{stream}-merge-java'
      - '{project-name}-{stream}-release-version-java-daily'
      - gerrit-release-verify:
          build-node: centos7-docker-8c-8g
      - gerrit-release-merge:
          build-node: centos7-docker-8c-8g
    stream:
      - master:
          branch: master
      - istanbul:
          branch: istanbul
      - honolulu:
          branch: honolulu

- project:
    name: dcaegen2-platform-configbinding-sonar
    jobs:
      - gerrit-tox-sonar
    sonarcloud: true
    sonarcloud-project-organization: '{sonarcloud_project_organization}'
    sonarcloud-api-token: '{sonarcloud_api_token}'
    sonarcloud-project-key: '{sonarcloud_project_organization}_{project-name}'
    sonar-mvn-goal: '{sonar_mvn_goal}'
    cron: '@daily'
    build-node: ubuntu1804-docker-8c-8g
    project: 'dcaegen2/platform/configbinding'
    project-name: 'dcaegen2-platform-configbinding'
    branch: 'master'
    # used by tox-install.sh to specify the interpreter used to install tox
    python-version: python3
    mvn-settings: 'dcaegen2-platform-configbinding-settings'
    mvn-goals: 'clean test'
    mvn-opts: '-Xmx1024m -XX:MaxPermSize=256m'


- project:
    name: dcaegen2-platform-configbinding-info
    project: dcaegen2/platform/configbinding
    project-name: dcaegen2-platform-configbinding
    branch: master
    jobs:
      - gerrit-info-yaml-verify
    build-node: centos7-builder-2c-1g
