---
- project:
    name: dcaegen2-platform-configbinding
    # git repo
    project: dcaegen2/platform/configbinding
    # jenkins job prefix
    project-name: dcaegen2-platform-configbinding
    # push credentials
    mvn-settings: dcaegen2-platform-configbinding-settings
    # due to a strange macro / variable translation problem this needs
    # to be passed as a string block to properly get the properties
    # correctly defined in the job
    maven-deploy-properties: |
      deployAtEnd=true
    files: '**'
    archive-artifacts: ''
    build-node: ubuntu1604-docker-8c-8g
    jobs:
      # clm and tox
      - '{project-name}-python-jobs'
      # build docker image
      - '{project-name}-{stream}-merge-java'
      - '{project-name}-{stream}-release-version-java-daily'
    stream:
      - master:
          branch: master
      - el-alto:
          branch: el-alto

- project:
    name: dcaegen2-platform-configbinding-sonar
    project: dcaegen2/platform/configbinding
    project-name: dcaegen2-platform-configbinding
    cron: '@daily'
    build-node: ubuntu1604-builder-4c-4g
    mvn-settings: dcaegen2-platform-configbinding-settings
    mvn-goals: 'clean install'
    mvn-opts: '-Xmx1024m -XX:MaxPermSize=256m'
    branch: master
    jobs:
      # Sonar jobs require maven, even for Python
      - gerrit-maven-sonar

- project:
    name: dcaegen2-platform-configbinding-info
    project: dcaegen2/platform/configbinding
    project-name: dcaegen2-platform-configbinding
    branch: master
    jobs:
      - gerrit-info-yaml-verify
