---
- project:
    name: dcaegen2-deployments
    project-name: 'dcaegen2-deployments'
    jobs:
      - '{project-name}-{stream}-verify-java'
      - '{project-name}-{stream}-merge-java'
      - gerrit-maven-stage
      - '{project-name}-{stream}-release-version-java-daily'

    project: 'dcaegen2/deployments'
    stream:
      - 'master':
          branch: 'master'
      - 'casablanca':
          branch: 'casablanca'
    mvn-settings: 'dcaegen2-deployments-settings'
    # due to a strange macro / variable translation problem this needs
    # to be passed as a string block to properly get the properties
    # correctly defined in the job
    maven-deploy-properties: |
      deployAtEnd=true
    files: '**'
    archive-artifacts: ''
    build-node: 'ubuntu1604-docker-8c-8g'
    build-timeout: 180

- project:
    name: dcaegen2-deployments-clm
    jobs:
      - gerrit-maven-clm
    nexus-iq-namespace: 'onap-'
    build-node: ubuntu1604-docker-8c-8g
    project: dcaegen2/deployments
    project-name: 'dcaegen2-deployments'
    branch: 'master'
    mvn-settings: 'dcaegen2-deployments-settings'
