---
- project:
    name: dcaegen2-platform-configbinding
    # git repo
    project: dcaegen2/platform/configbinding
    # jenkins job prefix
    project-name: dcaegen2-platform-configbinding
    # push credentials
    mvn-settings: dcaegen2-platform-configbinding-settings
    # due to a strange macro / variable translation problem this needs
    # to be passed as a string block to properly get the properties
    # correctly defined in the job
    maven-deploy-properties: |
      deployAtEnd=true
    files: '**'
    archive-artifacts: ''
    build-node: ubuntu1604-docker-8c-8g
    # used by tox-install.sh to specify the interpreter used to install tox
    python-version: python3
    jobs:
      # clm and tox
      - '{project-name}-python-jobs'
      # build docker image
      - '{project-name}-{stream}-merge-java'
      - '{project-name}-{stream}-release-version-java-daily'
    stream:
      - master:
          branch: master
      - elalto:
          branch: elalto

- project:
    name: dcaegen2-platform-configbinding-pypi
    # git repo
    project: dcaegen2/platform/configbinding
    # jenkins job prefix
    project-name: dcaegen2-platform-configbinding
    # push credentials
    mvn-settings: dcaegen2-platform-configbinding-settings
    build-node: centos7-builder-4c-4g
    jobs:
      - '{project-name}-gerrit-pypi-jobs'
    stream:
      - master:
          branch: master

- project:
    name: dcaegen2-platform-configbinding-sonar
    project: dcaegen2/platform/configbinding
    project-name: dcaegen2-platform-configbinding
    cron: '@daily'
    build-node: ubuntu1604-docker-8c-8g
    # Sonar jobs use maven to push report
    mvn-settings: dcaegen2-platform-configbinding-settings
    mvn-goals: 'clean test'
    mvn-opts: '-Xmx1024m -XX:MaxPermSize=256m'
    branch: master
    # used by tox-install.sh to specify the interpreter used to install tox
    python-version: python3
    jobs:
      - gerrit-tox-sonar

- project:
    name: dcaegen2-platform-configbinding-info
    project: dcaegen2/platform/configbinding
    project-name: dcaegen2-platform-configbinding
    branch: master
    jobs:
      - gerrit-info-yaml-verify
