---
- project:
    name: policy-drools-applications
    project-name: 'policy-drools-applications'
    jobs:
      - '{project-name}-{stream}-verify-java'
      - '{project-name}-{stream}-merge-java':
          docker-pom: 'pom.xml'
          mvn-profile: 'docker'
          mvn-params: "-P docker"
      - gerrit-maven-stage:
          sign-artifacts: true
          build-node: centos7-builder-4c-4g
          maven-versions-plugin: true
      - gerrit-maven-docker-stage:
          build-node: ubuntu1604-docker-8c-8g
          maven-versions-plugin: true
          mvn-params: '-P docker'
          container-public-registry: 'nexus3.onap.org:10001'
          container-staging-registry: 'nexus3.onap.org:10003'
      - '{project-name}-gerrit-release-jobs':
          build-node: centos7-builder-4c-4g

    project: 'policy/drools-applications'
    stream:
      - 'master':
          branch: 'master'
      - 'elalto':
          branch: 'elalto'
    mvn-settings: 'policy-drools-applications-settings'
    files: '**'
    archive-artifacts: ''
    build-node: ubuntu1604-docker-8c-8g

- project:
    name: policy-drools-applications-sonar
    jobs:
      - gerrit-maven-sonar
    cron: '@daily'
    build-node: ubuntu1604-builder-4c-4g
    project: 'policy/drools-applications'
    project-name: 'policy-drools-applications'
    branch: 'master'
    mvn-settings: 'policy-drools-applications-settings'
    mvn-goals: 'clean install'
    mvn-opts: '-Xmx1024m -XX:MaxPermSize=256m'

- project:
    name: policy-drools-applications-clm
    jobs:
      - gerrit-maven-clm
    nexus-iq-namespace: 'onap-'
    project: policy/drools-applications
    project-name: 'policy-drools-applications'
    branch: 'master'
    mvn-settings: 'policy-drools-applications-settings'

- project:
    name: policy-drools-applications-info
    project-name: policy-drools-applications
    jobs:
      - gerrit-info-yaml-verify
    project: policy/drools-applications
    branch: master
