---
- project:
    name: policy-drools-applications-java-17
    project-name: "policy-drools-applications"
    jobs:
      - "{project-name}-{stream}-verify-java"
      - "{project-name}-{stream}-merge-java":
          docker-pom: "pom.xml"
          mvn-profile: "docker"
          mvn-params: "-P docker -Djava.net.preferIPv4Stack=true -Djava.net.preferIPv6Addresses=false"
      - gerrit-maven-stage:
          sbom-generator: true
          sign-artifacts: true
          build-node: centos8-docker-4c-4g
          maven-versions-plugin: true
          mvn-params: "-Dmaven.test.skip=true"
      - gerrit-maven-docker-stage:
          sbom-generator: true
          build-node: ubuntu1804-docker-8c-8g
          maven-versions-plugin: true
          mvn-params: "-P docker  -Dmaven.test.skip=true"
          container-public-registry: "nexus3.onap.org:10001"
          container-staging-registry: "nexus3.onap.org:10003"
      - "{project-name}-gerrit-release-jobs":
          build-node: centos7-docker-2c-1g

    project: "policy/drools-applications"
    stream:
      - "paris":
          branch: "paris"
      - "quebec":
          branch: "quebec"
    mvn-settings: "policy-drools-applications-settings"
    mvn-version: "mvn36"
    maven-version: "mvn36"
    java-version: openjdk17
    files: "**"
    archive-artifacts: ""
    build-node: ubuntu1804-docker-8c-8g

- project:
    name: policy-drools-applications-java-21
    project-name: "policy-drools-applications"
    project: "policy/drools-applications"
    mvn-version: "mvn39"
    maven-version: "mvn39"
    mvn-settings: "{project-name}-settings"
    java-version: openjdk21
    files: "**"
    archive-artifacts: ""
    build-node: ubuntu2204-docker-8c-8g
    jobs:
      - "{project-name}-{stream}-verify-java"
      - "{project-name}-{stream}-merge-java":
          docker-pom: "pom.xml"
          mvn-profile: "docker"
          mvn-params: "-P docker -Djava.net.preferIPv4Stack=true -Djava.net.preferIPv6Addresses=false"
      - gerrit-maven-stage:
          sbom-generator: true
          sign-artifacts: true
          maven-versions-plugin: true
          mvn-params: "-Dmaven.test.skip=true"
      - gerrit-maven-docker-stage:
          sbom-generator: true
          maven-versions-plugin: true
          mvn-params: "-P docker -Dmaven.test.skip=true"
          container-public-registry: "nexus3.onap.org:10001"
          container-staging-registry: "nexus3.onap.org:10003"
      - "{project-name}-gerrit-release-jobs":
          build-node: centos7-docker-2c-1g
    stream:
      - "master":
          branch: "master"

- project:
    name: policy-drools-applications-sonar
    project: "policy/drools-applications"
    project-name: "policy-drools-applications"
    jobs:
      - gerrit-maven-sonar
    sonarcloud: true
    sonarcloud-project-organization: "{sonarcloud_project_organization}"
    sonarcloud-project-key: "{sonarcloud_project_organization}_{project-name}"
    sonar-mvn-goal: "{sonar_mvn_goal}"
    build-node: ubuntu2204-docker-8c-8g
    branch: "master"
    mvn-version: "mvn39"
    maven-version: "mvn39"
    mvn-settings: "{project-name}-settings"
    java-version: openjdk21
    mvn-goals: "clean install"
    java-opts: "-Djava.net.preferIPv4Stack=true -Djava.net.preferIPv6Addresses=false"
    cron: "@daily"

- project:
    name: policy-drools-applications-sonar-verify
    project: "policy/drools-applications"
    project-name: "policy-drools-applications"
    jobs:
      - gerrit-maven-sonar-verify
    sonarcloud: true
    sonarcloud-project-organization: "{sonarcloud_project_organization}"
    sonarcloud-project-key: "{sonarcloud_project_organization}_{project-name}"
    sonar-mvn-goal: "{sonar_mvn_goal}"
    build-node: ubuntu2204-docker-8c-8g
    branch: "master"
    mvn-version: "mvn39"
    maven-version: "mvn39"
    mvn-settings: "{project-name}-settings"
    java-version: openjdk21
    mvn-goals: "clean install"
    java-opts: "-Djava.net.preferIPv4Stack=true -Djava.net.preferIPv6Addresses=false"
    sonarcloud-qualitygate-wait: true

- project:
    name: policy-drools-applications-clm
    project: policy/drools-applications
    project-name: "policy-drools-applications"
    jobs:
      - gerrit-maven-clm
    nexus-iq-namespace: "onap-"
    stream:
      - "master":
          branch: "master"
    mvn-version: "mvn39"
    maven-version: "mvn39"
    mvn-settings: "{project-name}-settings"
    mvn-params: "-Djava.net.preferIPv4Stack=true -Djava.net.preferIPv6Addresses=false"
    mvn-opts: "--add-opens=java.base/java.util=ALL-UNNAMED"
    java-version: openjdk21
