---
- project:
    name: policy-drools-applications
    project-name: 'policy-drools-applications'
    jobs:
      - gerrit-maven-clm:
      - '{project-name}-{stream}-verify-java'
      - '{project-name}-{stream}-merge-java'
      - '{project-name}-{stream}-release-version-java-daily'
          disabled: true

    project: 'policy/drools-applications'
    stream:
      - 'master':
          branch: 'master'
      - 'beijing':
          branch: 'beijing'
    mvn-settings: 'policy-drools-applications-settings'
    files: '**'
    archive-artifacts: ''
    build-node: 'ubuntu1604-builder-4c-4g'
- project:
    name: policy-drools-applications-sonar
    jobs:
      - gerrit-maven-sonar
    cron: 'H 11 * * *'
    build-node: ubuntu1604-builder-4c-4g
    project: 'policy/drools-applications'
    project-name: 'policy-drools-applications'
    branch: 'master'
    mvn-settings: 'policy-drools-applications-settings'
    mvn-goals: 'clean install'
    mvn-opts: '-Xmx1024m -XX:MaxPermSize=256m'
