---
- project:
    name: msb-swagger-sdk
    project-name: 'msb-swagger-sdk'
    jobs:
      - '{project-name}-{stream}-verify-java'
      - '{project-name}-{stream}-merge-java'
      - gerrit-maven-stage:
          sign-artifacts: true
          build-node: centos7-builder-4c-4g
          maven-versions-plugin: true
    project: 'msb/swagger-sdk'
    stream:
      - 'master':
          branch: 'master'
    mvn-settings: 'msb-swagger-sdk-settings'
    files: '**'
    archive-artifacts: ''
    build-node: ubuntu1604-builder-4c-4g

- project:
    name: msb-swagger-sdk-sonar
    jobs:
      - gerrit-maven-sonar
     sonarcloud: true
     sonarcloud-project-organization: '{sonarcloud_project_organization}'
     sonarcloud-api-token: '{sonarcloud_api_token}'
     sonarcloud-project-key: '{sonarcloud_project_organization}_{project-name}'
    cron: '@daily'
    build-node: ubuntu1604-builder-4c-4g
    project: 'msb/swagger-sdk'
    project-name: 'msb-swagger-sdk'
    branch: 'master'
    mvn-settings: 'msb-swagger-sdk-settings'
    mvn-goals: 'clean install'
    mvn-opts: '-Xmx1024m -XX:MaxPermSize=256m'

- project:
    name: msb-swagger-sdk-clm
    jobs:
      - gerrit-maven-clm
    nexus-iq-namespace: 'onap-'
    project: msb/swagger-sdk
    project-name: 'msb-swagger-sdk'
    branch: 'master'
    mvn-settings: 'msb-swagger-sdk-settings'

- project:
    name: msb-swagger-sdk-info
    project-name: msb-swagger-sdk
    jobs:
      - gerrit-info-yaml-verify
    project: msb/swagger-sdk
    branch: master
