---
- project:
    name: msb-swagger-sdk
    project-name: 'msb-swagger-sdk'
    jobs:
      - gerrit-maven-clm:
          java-version: ''
      - '{project-name}-{stream}-verify-java'
      - '{project-name}-{stream}-merge-java'
      - '{project-name}-{stream}-release-version-java-daily'
      - '{project-name}-{stream}-stage-site-java':
          site-pom: 'pom.xml'
          trigger-job: '{project-name}-{stream}-release-version-java-daily'

    project: 'msb/swagger-sdk'
    stream:
      - 'master':
          branch: 'master'
      - 'amsterdam':
          branch: 'amsterdam'
    mvn-settings: 'msb-swagger-sdk-settings'
    files: '**'
    archive-artifacts: ''
    build-node: ubuntu1604-basebuild-4c-4g
- project:
    name: msb-swagger-sdk-sonar
    jobs:
      - gerrit-maven-sonar
    project: 'msb/swagger-sdk'
    project-name: 'msb-swagger-sdk'
    branch: 'master'
    mvn-settings: 'msb-swagger-sdk-settings'
    mvn-goals: 'clean install'
    mvn-opts: '-Xmx1024m -XX:MaxPermSize=256m'