---
- project:
    name: msb-swagger-sdk
    project-name: 'msb-swagger-sdk'
    jobs:
      - gerrit-maven-clm
      - '{project-name}-{stream}-verify-java'
      - '{project-name}-{stream}-merge-java'
      - '{project-name}-{stream}-release-version-java-daily'
    project: 'msb/swagger-sdk'
    stream:
      - 'master':
          branch: 'master'
    mvn-settings: 'msb-swagger-sdk-settings'
    files: '**'
    archive-artifacts: ''
    build-node: ubuntu1604-builder-4c-4g

- project:
    name: msb-swagger-sdk-sonar
    jobs:
      - gerrit-maven-sonar
    cron: '@daily'
    build-node: ubuntu1604-builder-4c-4g
    project: 'msb/swagger-sdk'
    project-name: 'msb-swagger-sdk'
    branch: 'master'
    mvn-settings: 'msb-swagger-sdk-settings'
    mvn-goals: 'clean install'
    mvn-opts: '-Xmx1024m -XX:MaxPermSize=256m'
